html {
    min-height: 100vh;
}

body {
    background-color: #f2f2f2;
    padding-bottom: 30px;
}

/* header */

header {
    background-color: #ffffff;
    margin-bottom: 20px;
}

.header-container {
    max-width: 1200px;
    margin: auto;
}

/* Sidebar */
.sidebar {

    background-color: #ffffff;
    border: 1px solid lightgrey;

}

.sidebar-top {
    background-color: orange;
    min-height: 100px;
    border-bottom: 1px solid lightgrey;
}
.sidebar-element {
    min-height: 100px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.sidebar-element:nth-child(n+2) {
    margin-top: -1px;
}

.user-show-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    position: relative;
    top: 60px;
    border: 5px solid white;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-username {
    margin-top: 70px;
    margin-bottom: 20px;
}

/* main part */
main {
    max-width: 1200px;
    margin: auto;
    background-color: #f2f2f2;
}

/* message-wall */
.message-wall {
    margin-left: 35px;
    min-height: 50vh;

}

.message-wall-write {
    background-color: #ffffff;
    border: 1px solid lightgrey;
    min-height: 130px;
    border-top: 5px solid orange;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.message-wall-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    margin-right: auto;
}

/* posts */

.message-wall-post {
    list-style-type: none;
    background-color: #ffffff;
    border: 1px solid lightgrey;
    min-height: 130px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.username-link {
    text-decoration: none;
    color: inherit;
}

.wrapper span i:hover {
    cursor: pointer;
}