{% extends "network/layout.html" %}

{% block body %}
    <div class="container p-0 m-0 w-100">
    <div class="row row-cols-2 w-100 p-0 m-0">
        <div class="col-3 p-0 m-0">
            <nav class="sidebar text-center p-0 m-0">

        <!--image-->
        <div class="sidebar-top">
        {% if curr_user.image %}
        <img src="{{ request.user.image }}" class="user-show-image" alt="Not Found" onerror="">
        {% else %}
        {% load static %}
       <img src="{% static 'network/no_image.png' %}" class="user-show-image" alt="Not Found" onerror="">
       {% endif %}
        </div>


        <div class="sidebar-element">

        <a class="nav-link" href="{{ curr_user.get_absolute_url }}"><h4 class="sidebar-username">{{ curr_user.username }}</h4></a>
        </div>


        <div class="sidebar-element">
            <h5 class="mt-3 text-secondary">Followers</h5>
            <h4 class="mt-1">{{ user_followers }}</h4>
        </div>
        <div class="sidebar-element">
            <h5 class="mt-3 text-secondary">Following</h5>
            <h4 class="mt-1">{{ user_self_follows }}</h4>
        </div>
            </nav>
        </div>


        <div class="col-9 p-0 m-0">
            <div class="container w-100 p-0">
            <div class="message-wall">


            <!-- write a post -->
            {% if curr_user == request.user %}
            <div class="message-wall-write container d-flex align-items-center">
        {% if curr_user.image %}
        <img src="{{ request.user.image }}" class="message-wall-image" alt="Not Found" onerror="">
        {% else %}
        {% load static %}
       <img src="{% static 'network/no_image.png' %}" class="message-wall-image" alt="Not Found" onerror="">
       {% endif %}
            <button type="button" class="btn btn-success rounded-pill btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">New post</button>
            </div>
            {% endif %}

                <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Write a post!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <form method="post">
                    {% csrf_token %}
              <div class="modal-body">
                  <textarea class="form-control" id="exampleFormControlTextarea1" name="post_content" rows="3" placeholder="What do you want to write today?"></textarea>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Post</button>
              </div>
              </form>
            </div>
          </div>
        </div>


        <!-- Posts -->
        {% if page_object %}
        {% for post in page_object %}
            <div class="message-wall-post container d-flex justify-content-between">
                <div class="d-flex flex-start">
                     {% if curr_user.image %}
                    <img src="{{ request.user.image }}" class="message-wall-image" alt="Not Found" onerror="">
                    {% else %}
                    {% load static %}
                   <img src="{% static 'network/no_image.png' %}" class="message-wall-image" alt="Not Found" onerror="">
                   {% endif %}



                     <div class="ms-3">
                     <a class="username-link" href="{{ curr_user.get_absolute_url }}"><h6 class="fw-bold mb-1">{{ post.author }}</h6></a>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    {{ post.timestamp }}
                  </p>
                </div>
                <div class="mb-0">{{ post.content|linebreaks }}</div>
                </div>
            </div>

            <!-- edit post -->
            {% if curr_user == request.user %}
            <div class="wrapper">
                <span>
            <i class="fa-regular fa-pen-to-square"></i>
                </span>
            </div>
            {% endif %}



            </div>
        {% endfor %}
        {% endif %}





            </div>
            </div>
        </div>
    </div>


    </div>
{% endblock %}